<!DOCTYPE html>
<html>
  <body>
    <h1>Bestripについて</h1>
    <h2>Bestripはあなたの旅行先のBestを見つけることができるコミュニティサイトです</br>
    様々な投稿からあなたの行きたいところを探してみてください</h2>
    <%= image_tag 'pexels-freestockpro-1008155.jpg', class: 'hoge' %> 
  </body>
</html>