<!DOCTYPE html>
<html>
  <body>
    <h1>Bestrip</h1>
    <h2>Bestripについて</h2>
    <p>Bestripはあなたの旅行先のBestを見つけることができるコミュニティサイトです</br>
    様々な投稿からあなたの行きたいところを探してみてください</p>
    <%= image_tag '1157.png', class: 'hoge', size: '100X100' %>  
    
  </body>
</html>